
body, html {
  height:100%;
  background: white;
  overflow-x: hidden;
}

/***********************************evaluation section:directhires-section:START***********************************/

#side-nav.col-xs-3 {
  height: 450px;
  overflow-y: scroll;
}
h2#side-nav-header {
}
.side-nav li a:hover {
    background-color: #1c8dc8;
    border-color: #1c8dc8;
    color: #fff;
}
.side-nav li a:active {

}


/****************************************evaluation section:START**********************************************/
#eval-header {
  color: #E88924 !important;
  border-color: #666666;
  border-bottom-style: double;

}

#eval-progressbar.col-xs-9 {
  width:70%;
  margin: 5% 2% 0 2%;
}
.eval-progressbar div {
  padding:0;
}

.eval-progressbar div span {
  width:50%;
}
.form-group.col-xs-9 {
  width: 65%;
  margin: 5% 0 7% 3%;
  margin-top: 5%;
  height: 112px;
}

textarea {
  width: 130%;
  height: 13rem;
}

/*#submit-button {
  float:right;
  background: #E88924;
  border: #E88924;
}*/

#eval-section {
  padding: 2%;
  height: 450px;
}

.row.eval-categories {
  margin:auto;
}

.row.eval-headers {
  margin: auto;
  margin-top: 5%;
}

#eval-pot-header, #eval-perf-header {
  width: 10%;
  padding: 0;
  background-color: #666666;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  height: 54px;
  line-height: 54px;
  /*margin-left: 30px;*/
  padding: 0 78px;
  position: relative;
  /*text-align: center;*/
  text-indent: -60px;
  zoom: 1;
  margin-bottom: 5%;
}

#eval-pot-header::after, #eval-perf-header::after {
  /*background-color: #666666;*/
  border-bottom: 27px solid transparent;
  border-left: 14px solid #666666;
  border-top: 27px solid transparent;
  content: "";
  height: 0;
  right: -14px;
  top: 0;
  position: absolute;
  width: 0;
}

#eval-pot-header{
  margin-top: 1%;
  margin: 4% 0 3% 0
}

#eval-content-area.row.content-area {
  border-radius: 1%;
  margin-top: 2%;
  padding: 5% 0 5% 0;
}

#performance.eval-progressbar, #potential.eval-progressbar {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 0;
}

.bar.data.rounded {
  padding: 0;
  width:5%;
  margin-right: -3%;
}

/*a.button.count {
  background: #E88924 !important;
}*/

img.eval-apples-btn {
  /*width: 100%;
  height: auto;*/
}

.bar.data .progress {
  background: transparent !important;
}

span.progress {
  background: #E88924 !important;
}

label {
  margin-top: 7%;
}

#submit-button {
  margin-right: 7%;
  margin-top: 10%;
}





/*___________________________________________________________________________________________*/
/******************************************MEDIA QUERIES***********************************/
/*___________________________________________________________________________________________*/

@media only screen and (max-width: 768px)
{

/*footer {
  margin-top: 10%;
}*/

 #side-section {
   width: 33%;
   display: block;
 }

 #side-bar-list {
   height: 323px;
 }

  #content-wrapper {
    height: 600px;
  }

 #eval-content-area {
   margin-left: 1%;
 }

  #eval-section {
    width: 66%;
  }

  #eval-pot-header, #eval-perf-header {
    height: 37px;
    line-height: 40px;
    padding: 0 66px;
    font-size: medium;
  }

  #eval-pot-header::after, #eval-perf-header::after {
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    border-left: 7px solid #666666;
    right: -6px;
  }

  h2#eval-pot-header{
    margin-top: 10%;
  }

 #eval-progressbar {
    padding:0;
  }

  #performance.eval-progressbar, #potential.eval-progressbar {
    width: 146%;
    margin-left: -6%;
  }

  img.eval-apples-btn {
    width: 4em;
  }

  .bar.data .progress {
    background: transparent !important;
  }

  span.progress {
    background: #E88924 !important;
  }

.bar.data.rounded {
  margin-right: 1%;
  padding-right: 2%;
}
  #eval-comments {
    width: 100%;
    margin-top: 11%;
    margin-bottom: -17%;
  }

  label {
    margin-top: 7%;
  }

  textarea {
    width: 130%;
    height: 5rem !important;
  }

  #submit-button {
    margin -18% 0 0 -6%;
  }

}
