<!DOCTYPE html> {% extends "demo/main.html" %} {% load staticfiles %}
{% block page_sheets %}
<link rel="stylesheet" href="{% static "css/profile.css" %}"/>
<script src="{% static "scripts/profile.js" %}"></script>
{% endblock page_sheets %}
{% block main_panel %}
  <div id="profile-maincontent-section" class="col-xs-9 padding-none">
    <div id="profile-c-header-menu" class="row c-header-menu">
      <ul id="side-bar-menu-toggle" class="c-header-menu-toggle" style="float:left;">
        <li>
          <a href="#" class="cHeaderMenuBtn"><i id="side-bar-icon" class="icon-menu"></i></a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div id="profile-commentsgridtabs" class="button-group col-xs-4">
        <button id="save-btn" class="button secondary outline gridtabs icon-save col-xs-2"></button>
        <button id="edit-btn" class="button secondary outline gridtabs icon-edit col-xs-2"></button>
        <button id="rate-btn" class="button secondary outline gridtabs icon-star col-xs-2"></button>
        <button id="share-btn" class="button secondary outline gridtabs icon-reply col-xs-2"></button>
        <button id="delete-btn" class="button secondary outline gridtabs icon-trash col-xs-2"></button>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-8">
          <h2 id="profile-header" class="type-sectiontitle col-xs-12">{{ employees.first.first_name }} {{ employees.first.last_name }}</h2>
        </div>
        <!-- PROFILE HEADER AND GRIDTABS START -->
      </div>
    </div>
    <!-- PROFILE HEADER AND GRIDTABS ENDS -->
    <div class="row">
      <!-- EMPLOYEE INFO ROW AND GRAPH STARTS -->
      <div id="emp-info-and-graph" class="col-xs-12">
        <div id="employee-info" class="col-xs-8">
          <!-- EMPLOYEE INFO STARTS -->
          <table class="lists fixed-layout">
            <tbody>
              <tr>
                <td class="table-col-1">Manager:</td>
                <td id="id_field">{{ employees.first.managment_relationships.first }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Employee ID:</td>
                <td id="id_field">{{ employees.first.employee_id }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Gender:</td>
                <td id="gender_field">{{ employees.first.gender }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Birthday:</td>
                <td id="bday_field">{{ employees.first.birth_date }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Hire Date:</td>
                <td id="pos_field">{{ employees.first.hire_date }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Position:</td>
                <td id="pos_field">{{ employees.first.position }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Email:</td>
                <td id="pos_field">{{ employees.first.email }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Phone:</td>
                <td id="dep_field">{{ employees.first.phone }}</td>
              </tr>
              <tr>
                <td class="table-col-1">Location:</td>
                <td id="location_field">{{ employees.first.assigned_location.first.location_name|truncatechars:50 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- EMPLOYEE INFO ENDS -->
        <div class="col-xs-4">
          <!-- PROFILE-GRAPH STARTS -->
          <div id="profile-graph" class="col-xs-12">
            <img id="graph" src="{% static "images/profile-graph.png" %}" alt="graph" style="height:220px;width:220px;"/>
          </div>
        </div>
        <!-- PROFILE-GRAPH ENDS -->
      </div>
      <div>
        <div>
          <h2 id="ratings-header">Rating History</h2>
          <div id="ratings-table-section" class="bounding-box width-1280">
            <div id="ratings-content-area" class="content-area">
              <div class="row">
                <div class="col-xs-12 padding-none">
                  <table class="table table-fixed" style="margin-top:0;margin-bottom:0;">
                    <thead>
                      <tr>
                        <th class="toggle" width="16"></th>
                        <th>Date</th>
                        <th>Potential</th>
                        <th>Performance</th>
                        <th>Comments</th>
                        <th>Supervisor ID</th>
                      </tr>
                    </thead>
                    <tbody id="ratings-history-list">
                      {% for rating in ratings %}
                      <tr>
                        <td class="toggle"><i class="icon-expand"></i></td>
                        <td>{{ rating.date }}</td>
                        <td>{{ rating.potential }}</td>
                        <td>{{ rating.performance }}</td>
                        <td>{{ rating.notes |truncatechars:30 }}</td>
                        <td>{{ rating.managment_relationship.subordinate }}</td>
                      </tr>
                      {% endfor %}
                      <!-- <tr class="details"></tr> -->
                      <!--TOdo I think this is supposed to be the dropdown-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_panel %}
