<!DOCTYPE html>
{% load staticfiles %}

<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<!--<![endif]-->

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <title>Patential</title>

  <meta name="description" content="XXXXXXXXXXXXXXXX">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!--[if IE]>
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="citrus/scripts/polyfills/html5shiv.js"></script>
    <![endif]-->


  <!-- CITRUS Styles -->
  <link rel="stylesheet" href="{% static "citrus/css/citrus.all.min.css" %}"/>
  <link rel="stylesheet" href="{% static "citrus/css/citrus.open-sans.min.css" %}"/>
  <link rel="stylesheet" href="{% static "citrus/css/citrus.icon-font.min.css" %}"/>

  <!-- Global Header -->
  <link rel="stylesheet" href="{% static "citrus/css/components/citrus.header.min.css" %}"/>
  <link rel="stylesheet" href="{% static "citrus/css/components/citrus.status-bar.min.css" %}"/>

  <script src="{% static "citrus/scripts/libs/modernizr.js" %}"/></script>

  <link rel="shortcut icon" href="{% static "citrus/images/favicon.png" %}"/>


<!-- OUR STYLES AND SCRIPTS -->
<link rel="stylesheet" href="{% static "css/registration.css" %}"/>
</head>


<body>


  <div id="registration-wrapper" class="col-sm-12">
    <div id="registration-form" class="col-sm-4">
      <!-- <label for="Company Id"> Company Id</label> -->
      <div id="logo" class="col-xs-12">
        <br>
          <img src="{% static "images/apple-logo-new.png" %}"/ alt="Logo">
        <br>
      </div>

      <input class="inputs" type="text" name="" value="" required placeholder="First Name">
      <br>
      <!-- <br> -->
      <!-- <label for="Username">Username</label> -->

      <input class="inputs" type="text" name="" value="" required placeholder="Last Name">
      <br>


      <input class="inputs" type="email" name="" value="" required placeholder="Email">
      <br>


      <!-- <label for="Password">Password</label> -->

      <input class="inputs" type="Password" name="" value="" required placeholder="Password">
      <br>


      <input class="inputs" type="Password" name="" value="" required placeholder="Confirm Password">
      <br>

      <!-- <input type="checkbox" name="" value="Remember My Credentials"> -->
      <!-- <label for="Remember My Credentials">Remember My Credentials </label>
      <br> -->

    <button class="submit">Submit</button>
      <!-- <input id="submit-btn" type="Submit" name="" value="Login"> -->
      <br>
      <!-- <br> -->
      <!-- <a href="/Escher/Escher_WebUI/views/login/resetPassword.aspx" class="js-login-passwordreset-btn">Forgot Password</a>
      <br>
      <!- <br> -->
      <!-- <a href="/Escher/Escher_WebUI/views/login/register.aspx" class="js-login-regnew-btn">Register User</a> -->
    </div>
  </div>
</body>


</html>
