body{
background-image: url(https://www.paylocity.com/wp-content/uploads/2015/09/1612-Sliders_Main-1.jpg);
}

#login-wrapper {
  display: flex;
  justify-content: center;
}
#logo {
  background: white;
margin-bottom: 3%;
}

#login-form{
  /*width: 400px;
  height: 475px;*/
  padding-bottom: 1%;
  /*border: solid 1px white;*/
  text-align: center;
  background-color: rgba(255, 225, 255, .3);
  position: relative;
  top:50%;
  transform: translateY(15%);
}

img{
padding-bottom: 8%;
width: 100%;
height: auto;

}

.inputs {
  margin: 2% 0 4% 0;
  /*padding-right: 20%;*/
  text-align: center;
  padding: 1%;
}

/*#cid{*/
  /*padding-right: 20%;*/
  /*text-align: center;
  padding: 1%;
}*/

/*#un{
  padding-right: 20%;
  text-align: center;
  padding: 1%;
}

#pwd{
  padding-right: 20%;
  text-align: center;
  padding: 1%;
}*/

a{
  text-decoration: none;
  color: cornsilk;
}

a#login-btn {
    color:#333333 !important;
}

br {
  line-height: 1%;
}

button.button {
  margin: 3% 0 3% 0;
}
