#navbar {
  height: 1px;
  /*background: #333333 !important;*/
}
/*check main.css for navbar*/
/*ul.c-header-menu-dropdown {*/
  /* float: left; */
/*top: 45px;*/
/* left: auto; */
/*right: 9px;*/
/* margin: 0 auto; */
/* padding: 0; */
 /*position: absolute;*/
/*}*/


#profile-maincontent-section {
  height: 450px;
}

#profile-content-wrapper {
  width: 100%;
  margin: -2% 0 -6% 0%;
  height: 375px;
}

#emp-info-and-graph {
  margin-bottom: 3%;
}

#profile-commentsgridtabs {
  margin: 3% 1% 0 5%;
  width: 91%;
}

button.button.outline {

}

#save-btn, #edit-btn, #rate-btn, #share-btn, #delete-btn {
  height: 45px;
  /*height: 54px;*/
  width: 20%;
  background: #666666 !important;
  border: none;
  color: white !important;
  border-left: solid 1px #757575 !important;
}

#save-btn:hover, #edit-btn:hover, #rate-btn:hover, #share-btn:hover, #delete-btn:hover {
  background-color: #E88924 !important;
  color: white !important;

}

#profile-header {
  color: orange;
  border: none;
}

#profile-c-header-menu {
  background: none;
  border: none;
}

#graph {

}



#table-ratings {
  width: 90%;
  margin-left: 5%;
}

#thead-ratings {
  padding:0;
  width: 91%;
}

#thead-ratings-toggle {
  width: 5%;
}

#thead-ratings-mgrid {
  width: 10%;
}

#thead-ratings-potential, #thead-ratings-performance {
  width: 15%;
}

#thead-ratings-comments {
  width: 44%;
}

.td-ratings {
  width: 8%;
}
.td-ratings-toggle {
  width: 5%;
  text-align: center;
}

.td-ratings-date {
  width: 7.5%;
}

.td-ratings-comments {
  width: 40%;
}

.td-ratings-mgrid {
  width: 9%;
}

.td-ratings-potential, .td-ratings-performance {
  width: 13.5%;
}
/*
#the ad-ratings-potential {*/
  /*width: 33.5%;*/
/*}*/


.tr-ratings {
  padding:0;
}

 #ratings-history-list {
  padding:0;
 }


.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 93%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
  float: left;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
display: block;
  float: left;
  border-bottom-width: 0;
}




/*___________________________________________________________________________________________*/
/******************************************MEDIA QUERIES***********************************/
/*___________________________________________________________________________________________*/
@media only screen and (max-width: 768px)
{

#content-wrapper {
  height: 765px;
}

#profile-maincontent-section {
      margin-top: 3%;
}

  #employee-info {
    width: 130%;
  }

  .table-col-1 {
    width: 37%;
  }

  #profile-commentsgridtabs {
    margin: -11% 0 0 36%;
  }

  #save-btn, #edit-btn, #rate-btn, #share-btn, #delete-btn {
    height: 35px;
    width: 35px;
    padding: 1%;
    }

  /*#save-btn:hover, #edit-btn:hover, #rate-btn:hover, #share-btn:hover, #delete-btn:hover {
    background-color: #E88924 !important;
    color: white !important;

  }*/

  #profile-header {
    font-size: large;
  }
/*
  #profile-c-header-menu {
    border-color: none;
    background: none;
  }*/

  #profile-graph {
    display: none;
  }

  #ratings-table-section {
   display: flow-root;
   margin-left: 2%;
   width: 93%;
   height: 230px;
  /*overflow-x:none;*/
   overflow-y:overlay;
  }


  #ratings-content-area {
    padding-left: 2%;
    border: none !important;
  }

  #ratings-header {
    padding-left: 7%;
    margin-left: 6%;
  }

  table {
    /*height: */
    margin: 10% 0 0 6%;

  }

  thead {

  }


}
